@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
$z-index-menu: 1000;

header {
  font-family: 'Playfair Display';
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background: var(--color-accent-emerald);
  align-items: center;
  width: 100%;
  height: 15vh;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  top: 0;
  left: 0;
  position: fixed;
  z-index: $z-index-menu + 1;
  ul {
    display: flex;
    justify-content: end;
    column-gap: 5px;
    li {
      list-style: none;
    }
  }
  a {
    text-decoration: none;
    justify-self: center;
    p {
      color: var(--color-bg-main);
      font-size: 54px;
      text-align: center;
      display: inline-flex;
      .hidden-text{
        max-width: 0;
        opacity: 0;
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        white-space: nowrap;
        transition: max-width 0.5s ease-in-out, opacity 0.3s ease-in-out;
      }
      &:hover .hidden-text{
        max-width: 150px;
        opacity: 1;
      }
    }
  }

  .ico {
    color: var(--color-bg-main);
  }
}

.dropdown-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $z-index-menu;
  pointer-events: none; /* Ignore clicks when closed */
}

.dropdown-container.open {
  pointer-events: auto; /* Enable clicks when open */
}

.dropdown-menu {
  color: var(--color-text-main);
  font-family: 'Inter';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  background: var(--color-bg-surface);
  padding: 1rem 0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  /* Slide up by default */
  transform: translateY(-100%);
  transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
  margin: 0;
  display: grid;
  h2 {
    font-family: 'Playfair Display';
    font-size: 16px;
  }
  p {
    grid-area: dropdowm-h1;
    font-family: 'Playfair Display ';
    font-size: 54px;
    text-align: center;
    border-bottom: 2px solid var(--color-accent-dark-emerald);
  }
  .categories-list-section {
    h2 {
      font-size: 1.5rem;
      border-bottom: 1px solid var(--color-accent-dark-emerald);
      margin-bottom: 10px;
    }
    li {
      list-style: none;
      a {
        font-size: 1.3rem;
        text-decoration: none;
        color: var(--color-text-main);
        transition: all 0.3s ease;
      }
      a:hover {
        color: var(--color-accent-sale);
      }
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: categories-list-section;
  }
  .contacts-section {
    h2 {
      font-size: 1.5rem;
      border-bottom: 1px solid var(--color-accent-dark-emerald);
      margin-bottom: 10px;
    }
    li {
      list-style: none;
      a {
        font-size: 1.3rem;
        text-decoration: none;
        color: var(--color-text-main);
        transition: all 0.3s ease;
      }
      a:hover {
        color: var(--color-accent-sale);
      }
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: contacts-section;
  }
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'dropdowm-h1 dropdowm-h1'
    'categories-list-section contacts-section';
}

.dropdown-container.open .dropdown-menu {
  /* Slide down to normal position */
  transform: translateY(0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: $z-index-menu - 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

.overlay.open {
  opacity: 1;
  pointer-events: auto;
}
