/* 1. Убираем внешние и внутренние отступы у основных элементов */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 2. Убираем маркеры списков (опционально, но удобно для верстки) */
ul[class],
ol[class] {
    list-style: none;
}

/* 3. Настраиваем базовое поведение страницы */
html,
body {
    height: 100%;
    /* Плавный скролл (отключаем, если пользователь против анимаций) */
    scroll-behavior: smooth;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* 4. Упрощаем работу со ссылками без классов */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* 5. Делаем картинки и медиа гибкими (responsive) */
img,
picture,
video,
canvas,
svg {
    max-width: 100%;
    display: block;
}

/* 6. Наследуем шрифты для форм и инпутов */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Отключаем анимации для пользователей, которые их не переносят */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


// ===================== ГЛОБАЛЬНІ СТИЛІ ========================

:root {
    --color-bg-main: #FDFBF7;
    /* Светлый фон СЛОНОВАЯ КОСТЬ*/
    --color-bg-surface: #F4EFEA;
    /* Карточки и плашки СВЕТЛЫЙ ЯСЕНЬ*/
    --color-text-main: #2C221E;
    /* Темный текст ГОРЬКИЙ ШОКОЛАД*/

    --color-accent-emerald: #0F3A20;
    /* Тёмно-изумрудный (главный) */
    --color-accent-wood: #8C6239;
    /* Древесный ТЕПЛЫЙ ОРЕХ*/
    --color-accent-sale: #C86B45;
    /* Терракота (акции) */
}